textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
form {
	font-size: 9px;
}
font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.menu2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.tabella1 {
	border: 1px solid #999999;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #CCCCCC;
	text-decoration: none;
}
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF6600;

}
a:active {
	text-decoration: none;
}
tabella3 {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: dashed;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.leggitutto {
	font-size: 10px;
	font-weight: normal;
	color: #D9FFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.menu1 {
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}
.testo1 {
	font-size: 10px;
	color: #666666;
}


}
menu3 {
	font-size: 10px;
	font-weight: bold;
}
.menu3 {
	font-size: 9px;
	font-weight: bold;
}
.titolo {
	font-size: 11px;
	font-weight: bold;
}
.mini {
	font-size: 9px;
	color: #333333;
}
pn-normal {
	font-size: 11px;
}
.tabella2 {
	border: 1px solid #000000;
}
.quotes {
	font-size: 10px;
	color: #999999;
}
.stbar { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #544431; vertical-align: middle; text-decoration:none;}
.bianco {
	font-size: 11px;
	color: #FFFFFF;
}
input {
	background-color: #FFFFFF;
	border: 1px solid #333333;
	font-size: 11px;
	color: #000000;
}
img {
	text-decoration: none;
	border: 0px none;
	}
pubInfoBox
    {
      border: 1px solid black;
      font: arial, sans-serif;
      font-size: 10pt;
      background-color: #E0E0E0;
      padding: 4px;
    }