<h2></h2>
<h2>We use only free/libre JS</h2>
<table id="jslicense-labels1">
    <tr>
        <td><a href="/static/js/typeahead.bundle.min.js">typeahead js</a></td>
        <td><a href="https://directory.fsf.org/wiki/License:Expat">MIT license - Expat</a></td>
        <td><a href="https://github.com/twitter/typeahead.js">typeahead js</a></td>
    </tr>
    <tr>
        <td><a href="/static/js/ai.js">ai.js</a></td>
        <td><a href="https://directory.fsf.org/wiki/License:Expat">MIT license - Expat</a></td>
        <td><a href="/static/js/ai.js">ai.js</a></td>
    </tr>
</table>

<p>Compliant with <a href="https://www.gnu.org/software/librejs/">Libre JS</a></p>
