{{define "show_result"}}
<p>
  <a href="{{.Fields.url}}">{{.Fields.title}}</a>
</p>
{{end}}

{{define "search_results"}}{{template "header" .}}

{{if .Query}}
<h1>
  Search results for "{{.Query}}"
</h1>
{{else}}
<p>
  <form class="form-inline" action="/search" method="get">
    <div class="form-group">
      <label class="sr-only" for="searchField">Search</label>
      <input type="text" id="searchField" name="q" placeholder="Search...">
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </form>
</p>
{{end}}

{{if .Result}}
{{range .Result.Hits}}
{{template "show_result" .}}
{{end}}
{{end}}

{{template "footer" .}}
{{end}}
