
/*
 * Correction des styles HTML par defaut
 */

table {
	border: 0px; 
	cellspacing: 0px; cellpadding: 0px;
	font-size: 8pt; 
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}
.structure {
	display: none;
}
h1,h2,h3,h4 {
	margin-top: 0em;
	margin-bottom: 0em;
}



/*
 * Styles generaux
 */

/* bien regler la marge (bugs IE) */
body { background: white; margin: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;}
a { text-decoration: none; color: #000000; background:#FFFFFF}
a:hover { text-decoration: underlined; color: #000000; background: #FFFFFF;}
a.spip_out { text-decoration: none; color: #a02020; }
a.spip_in, a.spip_url { text-decoration: none; color: #2020a0; }
a.spip_glossaire { text-decoration: none; color: #20a020; }

.spip_documents {
font-size: 7pt;
}

.chapo {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: justify;
}
.texte, .texte p.spip {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
}


.ps {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
}
.notes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

/*
 * Ici les styles pour le contenu
 */

.contenu h1,h2 {
	font-weight: bold;
}

.contenu h1,h2.titre-extrait {
	font-weight: bold;
}
.contenu h1,h2.titre-texte {
	font-weight: bold;
}
.contenu .surtitre {
	font-weight: bold;
	font-variant: small-caps;
}
.contenu .detail {
	color: #303030;
}
.extrait {
	border: groove 2px #a0a0a0;
	padding: 1em;
}


/*
 * Disposition a l'ecran
 */

#principal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

#plan {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

#navigation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
}

.encart {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
